# pyEnGNet code explanation

## Imports

In [1]:
import pandas as pd
import scipy.stats as scp
import numpy as np
from tqdm import tqdm

from pyEnGNet import *

In [2]:
peg = PyEnGNet(extract_nparray("datasample_shittys.csv"))
print(peg)

PyEnGNet Object with shape (10,20)

Our dataset is now ready to be used and apply correlation techniques

## Calculate Spearman correlation

In [3]:
spearmanc, spearmanpv = peg.spearman_test()
pd.DataFrame(spearmanc)

100%|██████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 275.37it/s]

,0,1,2,3,4,5,6,7,8,9
0,1.000000,0.028571,0.248120,0.178947,0.106767,-0.186466,-0.393985,-0.165414,0.187970,-0.350376
1,0.028571,1.000000,-0.048120,-0.410526,0.606015,-0.622556,0.133835,-0.079699,-0.263158,-0.084211
2,0.248120,-0.048120,1.000000,0.142857,0.114286,-0.372932,-0.215038,0.234586,-0.249624,0.072180
3,0.178947,-0.410526,0.142857,1.000000,-0.511278,0.224060,-0.463158,-0.350376,0.189474,-0.306767
4,0.106767,0.606015,0.114286,-0.511278,1.000000,-0.320301,0.189474,0.210526,-0.242105,0.031579
5,-0.186466,-0.622556,-0.372932,0.224060,-0.320301,1.000000,0.073684,0.042105,0.401504,0.186466
6,-0.393985,0.133835,-0.215038,-0.463158,0.189474,0.073684,1.000000,0.338346,-0.168421,0.016541
7,-0.165414,-0.079699,0.234586,-0.350376,0.210526,0.042105,0.338346,1.000000,0.004511,0.302256
8,0.187970,-0.263158,-0.249624,0.189474,-0.242105,0.401504,-0.168421,0.004511,1.000000,0.266165
9,-0.350376,-0.084211,0.072180,-0.306767,0.031579,0.186466,0.016541,0.302256,0.266165,1.000000

## Calculate Kendall's correlation

In [4]:
kendallc, kendallpv = peg.kendall_test()
pd.DataFrame(kendallc)

100%|██████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 305.40it/s]

,0,1,2,3,4,5,6,7,8,9
0,1.000000,0.042105,0.178947,0.136842,0.073684,-0.126316,-0.263158,-0.115789,0.126316,-0.294737
1,0.042105,1.000000,-0.042105,-0.294737,0.484211,-0.494737,0.084211,-0.063158,-0.200000,-0.073684
2,0.178947,-0.042105,1.000000,0.073684,0.052632,-0.252632,-0.157895,0.136842,-0.189474,0.042105
3,0.136842,-0.294737,0.073684,1.000000,-0.368421,0.210526,-0.305263,-0.242105,0.126316,-0.252632
4,0.073684,0.484211,0.052632,-0.368421,1.000000,-0.210526,0.136842,0.157895,-0.168421,0.042105
5,-0.126316,-0.494737,-0.252632,0.210526,-0.210526,1.000000,0.042105,0.063158,0.263158,0.094737
6,-0.263158,0.084211,-0.157895,-0.305263,0.136842,0.042105,1.000000,0.242105,-0.084211,-0.021053
7,-0.115789,-0.063158,0.136842,-0.242105,0.157895,0.063158,0.242105,1.000000,0.000000,0.189474
8,0.126316,-0.200000,-0.189474,0.126316,-0.168421,0.263158,-0.084211,0.000000,1.000000,0.178947
9,-0.294737,-0.073684,0.042105,-0.252632,0.042105,0.094737,-0.021053,0.189474,0.178947,1.000000

## Calculate Normalized Mutual Info Score

In [5]:
nmi = peg.nmi_test(1)
pd.DataFrame(nmi)

,0,1,2,3,4,5,6,7,8,9
0,1.000000,0.684223,0.639863,0.655361,0.631736,0.665966,0.633602,0.636522,0.614080,0.649257
1,0.684223,1.000000,0.655829,0.734274,0.710463,0.618118,0.682066,0.652942,0.662338,0.599837
2,0.639863,0.655829,1.000000,0.658189,0.697781,0.636522,0.604226,0.607203,0.649013,0.585232
3,0.655361,0.734274,0.658189,1.000000,0.618118,0.619696,0.619696,0.590053,0.677113,0.668926
4,0.631736,0.710463,0.697781,0.618118,1.000000,0.660654,0.628161,0.598680,0.640805,0.609951
5,0.665966,0.618118,0.636522,0.619696,0.660654,1.000000,0.596758,0.566673,0.577062,0.611423
6,0.633602,0.682066,0.604226,0.619696,0.628161,0.596758,1.000000,0.599837,0.642909,0.507848
7,0.636522,0.652942,0.607203,0.590053,0.598680,0.566673,0.599837,1.000000,0.580155,0.511249
8,0.614080,0.662338,0.649013,0.677113,0.640805,0.577062,0.642909,0.580155,1.000000,0.672106
9,0.649257,0.599837,0.585232,0.668926,0.609951,0.611423,0.507848,0.511249,0.672106,1.000000

# Major voting method

In [9]:
l = peg.engnet_1_0()
newhead = ["GenA", "GenB", "Weight"]
pd.DataFrame(l, columns=newhead)

   GenA  GenB    Weight
0     1     4  0.658239